@import "~antd/dist/antd.css";

body {
  background-color: #e8f7ee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-select-dropdown-menu-item {
  white-space: normal;
}
